*{margin:0;padding:0;}
.all{
    height:100%;display:flex;flex-direction:column;background:url(../../../assets/img/login_bg.jpg) no-repeat;
    background-size:cover;position:relative;
    header{
        height:1.2rem;line-height:1.2rem;position:relative;
        i{position:absolute;left:5%;font-size:0.666666rem;color:#000;}
        h1{position:absolute;left:45%;line-height:1.2rem;text-align:center;font-size:0.6rem;}
    }
    main{
        flex:1;overflow-x:hidden;
        .register_group{
            margin-top:1.5rem;
            >div{
                height:0.8rem;margin-bottom:0.8rem;
                label{float:left;width:20%;line-height:0.8rem;font-size:0.45rem;text-align:right;}
                input{width:75%;float:left;height:0.8rem;border:0.013333rem solid #000;font-size:0.45rem;}
            }
            button{width:90%;margin-left:5%;line-height:0.8rem;font-size:0.45rem;background:#ddd;text-align:center;}
        }
        a{
            button{width:40%;margin:35% 0 0 30%;line-height:0.8rem;font-size:0.45rem;background:#ddd;text-align:center;}
        }
    }
    .mask{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.7);}
    .hint{
        position:absolute;left:50%;top:45%;width:70%;height:10%;background:#ccc;text-align:center;
        transform:translate(-50%,0);border-radius:0.133333rem;
        span{display:inline-block;width:100%;height:100%;font-size:0.666666rem;line-height:1.8rem;}
    }
}