.title_top{
    text-align: center;
    height: 1.173333rem;
    line-height: 1.173333rem;
    background-color: #fff;
    font-size: 0.4rem;
    position: relative;
    box-shadow: 0px 0.053333rem 0.106667rem 0px rgba(0, 0, 0, 0.10);

    i{
                    position:absolute;
                    font-size: 0.5rem;
                    left:0.373333rem;
     }

    span{
        position: absolute;
        line-height: 0.533333rem;
        display: block;
        height: 0.533333rem;
        top: 0.32rem;
        width: 1.066667rem;
        right: 0.373333rem;
        color: #0076FF;
    }
}

.container{
        max-width: 11.2rem;
        margin: 0 auto;
        padding: 0;
        font-size: 0.32rem;
        color: #442818;
        box-sizing: border-box;

        ul{
                background: #fff;
                padding-left: 0.373333rem;
                margin-top: 0.266667rem;

                li{
                    border-bottom: 0.026667rem solid #F0F0F0;
                    height: 1.2rem;
                    overflow: hidden;
                    font-size: 0.373333rem;


                    label{
                        display: inline-block;
                        height: 1.2rem;
                        line-height: 1.2rem;
                        float: left;
                        font-size: 0.373333rem;
                    }

                    div{
                        padding-left: 1.6rem;

                        input{
                            border: none;
                            width: 100%;
                            line-height: 1.2rem;
                            height: 1.2rem;
                            font-size:0.32rem;
                        }
                    }
                }
        }
}