.shudongDel{margin:.88rem .693333rem;background: #fff;border-radius: .266667rem;border:.053333rem solid #E2E1E6;}
.shudongDel h4{color:#4E4E4E;font-size: .32rem;line-height: .64rem;padding-top:.2rem;padding-left:.426667rem;}
.shudongDel p{font-size: .453333rem;color:#040404;font-weight: bold;line-height: .666667rem;padding-left:.426667rem;padding-bottom:.333333rem;}
.shudongDel img{width: 8.523333rem;height: 4.56rem;}