.goods{
     ul{
         display:flex;
         flex-wrap:wrap;
         li{
             width: 50%;
             height: 4.4rem;
             border: 2px solid #fff;
             font-size: 0.32rem;
             p{
                 height: 1.0666666666666667rem;
                 width: 80%;
                 float: left 
            }
             img{
                 width: 100%;
                 height: 2.933333333333333rem;
            }
             span.icon{
                 float:right;
                 font-size: 0.4rem;
                 display:line-block;
                 height: 0.5333333333333333rem;
                 width: 0.5333333333333333rem;
                 border-radius:50%;
                 background: #ddd;
                 text-align: center;
                 line-height: 0.5333333333333333rem;
                 margin-right: 0.16rem;
                 margin-top: 0.26666666666666666rem;
            }
             div{
                 h1{
                     color: red;
                }
                 ul{
                     li{
                         background: #ddd;
                    }
                }
            }
        }
    }
}
 #loadingImg{
     position: fixed;
     top:50%;
     left:50%;
     width:2rem;
     height:2rem;
     transform: translate(-1rem,-1rem) 
}
 
