<div class="all">
    <header>
        <a routerLink="/setting">
            <i class="icon ion-ios-arrow-back"></i>
        </a>
        <h1>修改密码</h1>
        <span>保存</span>
    </header>
    <main>
        <div class="formgroups">
            <div>
                <label for="username">旧密码</label>
                <input type="password" id="username" />
            </div>
            <div>
                <label for="password">新密码</label>
                <input type="password" id="password" />
            </div>
            <div>
                <label for="confirmpassword">确认密码</label>
                <input type="password" id="confirmpassword" />
            </div>
        </div>
    </main>
</div>