header{
     position: relative;
     font-size: 0.29333333333333333rem;
     height: 1.0666666666666667rem;
     line-height: 1.0666666666666667rem;
     ul.navs{
         display:flex;
         justify-content:space-between;
         li:first-child{
             width: 0.8rem;
             margin-left: 0.16rem;
        }
         li:last-child{
             margin-right: 0.16rem;
        }
         li{
             display:flex;
             img{
                 margin-top: 0.10666666666666667rem;
            }
             i{
                 font-size: 0.4266666666666667rem;
            }
        }
    }
     div.shows{
         position: absolute;
         top: 1.0666666666666667rem;
         left: 0;
         right: 0;
         display:none;
         z-index:100;
         ul{
             display:none;
             width: 100%;
             background: #fff;
             display:flex;
             li{
                 display:line-block;
                 flex:1;
                 display:flex;
                 flex-direction: column;
                 align-items:center;
                 line-height: 0.48rem;
                 i{
                     font-size: 0.4rem;
                }
            }
        }
    }
}
 